header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    border: 1px solid blue;
    border-radius: 5px;
}

.nav-item {
    border-right: 1px solid blue;
    padding: 5px 2em;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.nav-item:hover {
    background: lightblue;
}

.nav-bar:last-child {
    border-right: none;
}

footer {
    border: 1px solid blue;
}

.logo {
    width: 5em;
}

.back {
    width: 100%;
    background-position: center;
    background-size: contain;
}

.hero h1 {
    position: absolute;
    top: 65px;
    left: 16px;
    font-family: sans-serif;
    color: whitesmoke
}

.hero h2 {
    position: absolute;
    top: 120px;
    left: 16px;
    font-family: sans-serif;
    color: whitesmoke;
}

.hero p {
    position: absolute;
    bottom: 480px;
    left: 16px;
    font-family: sans-serif; 
    width: 50%;
    text-align: justify;
    color: white;
}

.wrapper {
     display: flex;
}

.headquarters-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em;
}

.headquarters-image {
    height: 5em;
    width: 5em;
    cursor: pointer;
}

.head1 {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    border: 1px solid;
    align-items: center;
}

.head1:hover {
    margin-top: -3px;
}

.head2 {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    border: 1px solid;
    align-items: center;
}

.head2:hover {
    margin-top: -3px;
}

.head3 {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    border: 1px solid;
    align-items: center;
}

.head3:hover {
    margin-top: -3px;
}

#kirim {
    padding: 0.5em;
    width: 150px;
    border: none;
    cursor: pointer;
}